a {
    color: $green;

    &:hover {
        color: $green;
        text-decoration: none;
    }
}

.nav-margin {
    margin-top: 3.5rem;
}

.line {
    &::after {
        content: '';
        margin-bottom: 15px;
        height: 1px;
        background: $gray-300;
    }
}

.icon-features {
    a {
        color: inherit;
    }

    .label {
        font-size: 20px;
    }
}

.section {
    &.gray {
        background-color: $gray-200;
    }

    &.white {
        background-color: $white;
    }
}

.list-trips {
    .list-trip-item {
        width: 100%;
        border: 1px solid $gray-300;
        border-radius: 10px;
        background-color: $white;
        
        & > img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        & > .description {
            padding: 10px 10px 0 10px;
        }
    }
}

.culinary-latest {
    .culinary-item {
        margin-bottom: 20px;
    }
}

.sub-heading {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    line-height: 2.2em;

    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        width: 90px;
        height: 3px;
        background: #32b67a;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}